{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow">
    <div class="container p-2 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Car Inventory</h1>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid bg-dark text-center text-light p-7" data-tor-parent="hover hover-fix" data-tor-group=".d-block span => hover(p):[fade.in pull.up(sm)] slow delay(/0+50ms/);">
  <div class="row justify-content-start">
      <div class="col-2">
          <h1 class="display-1">
              <span class="d-block">
                <span>Ford</span>
          </h1>
      </div>
      <div class="col-2">
          <h2 class="display-1">
              <span class="d-block">
                <span>Honda</span>
          </h2>
      </div>
      <div class="col-2">
          <h2 class="display-1">
              <span class="d-block">
                <span>Toyota</span>
          </h2>
      </div>
      <div class="col-2">
        <h2 class="display-1">
            <span class="d-block">
              <span>GMC</span>
        </h2>
      </div>
      <div class="col-2">
        <h2 class="display-1">
           <span class="d-block">
             <span>Mazda</span>
        </h2>
     </div>
     <div class="col-2">
      <h2 class="display-1">
          <span class="d-block">
            <span>Chevy</span>
      </h2>
     </div>
    </div>
</div>
<section class="bg-dark text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/car-sales-photo.jpeg" class="img-fluid" alt="Contact us image">
            </div>
        </div>
    </div>
</section>
{% endblock %}